@layer base {
    /* Importing custom font families */
    @font-face {
        font-family: Ikea;
        font-weight: 700;
        src: url(../src/assets/fonts/IKEA\ Sans\ Bold.otf) format("opentype");
    }
    @font-face {
        font-family: Proxima;
        src: url(../src/assets/fonts/Proxima\ Nova\ Regular.otf) format("opentype");
    }

    .page-title {
        font-family: "Ikea";
    }
}