/* Import fonts (change to local when final) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* CSS variables */
:root {
  --header-border-color: rgba(0, 0, 0, 0);
  --header-color: #ffffff;
  --header-font-size-px: 13px;
  --header-font-case: normal;
  --header-text-size-px: 15px;

  --heading-spacing: 0px;
  --heading-font-case: uppercase;

  --base-font-size: 15px;
  --text-color: #333;
  --body-font-stack: Noto Sans JP, sans-serif;
  --body-font-size-22-to-em: 1.3em;

  --navigation-font-stack: Noto Sans JP, sans-serif;
  --navigation-font-weight: 400;
  --navigation-font-style: normal;

  --color-footer-bg: #ffffff;
  --color-footer-text: #494949;
  --color-footer-text-darken10: #2f2f2f;

  --primary-btn-bg-color: #be0819;
  --primary-btn-text-color: #ffffff;

  --alt-btn-font-weight: 400;
  --alt-btn-font-style: normal;
  --button-text-case: none;
  --button-font-size-px: 15px;
}

/* Element styling */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  border: 0 none;
  height: auto;
}

div {
  display: block;
}

ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

svg:not(:root) {
  overflow: hidden;
  overflow-clip-margin: content-box;
}

footer {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

body {
  /* Removes all text selection capabilities */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body,
button,
input,
select,
textarea {
  font-size: var(--base-font-size);
  line-height: 1.6;
  color: var(--text-color);
  font-family: var(--body-font-stack);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.site-header button,
.site-header__logo-link,
.site-header__logo-link:visited,
.top-links a,
.top-links a:visited {
  color: var(--nav-text-color);
}

.site-header .dropdown:not(.icon-right) .icon-dropdown,
.link-wrapper:not(.icon-right) .icon-dropdown {
  display: inline-block;
  padding-left: 0.25em;
}

.site-header .dropdown:not(.icon-right) svg,
.link-wrapper:not(.icon-right) svg {
  vertical-align: middle;
}

svg {
  width: 22.5;
  height: 22.5;
  fill: none;
  stroke: currentcolor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.custom-font,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.header-font,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-family: var(--header-font-stack);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);
  margin: 0 0 0.5em;
  line-height: 1.4;
}

ol li,
ul li {
  list-style-position: inside;
}

.text-link,
a {
  color: var(--link-color);
  text-decoration: none;
  background: 0 0;
}

input,
select,
textarea {
  background: 0 0;
  max-width: 100%;
  border-radius: 0;
}

input {
  border: 0;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
}

.newsletter-footer input.footer-email-submit {
  border-radius: 0;
  font-weight: var(--alt-btn-font-weight);
  font-style: var(--alt-btn-font-style);
  margin-top: 15px;
  text-transform: var(--button-text-case);
  padding: 10px 20px;
  font-size: var(--button-font-size-px);
  display: inline-block;
}

button,
input[type='submit'] {
  cursor: pointer;
}

.footer-email-submit {
  margin-bottom: 15px;
  transition: all 0.15s ease-in-out 0s;
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 8px 10px;
  width: auto;
  margin: 0;
  line-height: 1.42;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-text-color);
}
